<h2>Sign Up Below:</h2>
<form action='/registrations' method='POST'>

    <label>name</label>
    <input type="text" name="name">

    
    <label>email</label>
    <input type="email" name="email">
    

    <label>password</label>
    <input type="password" name="password">
    
    <input type="submit" value="Sign Up">
</form>


