<!#this is where I can select which kids to enter the form with a drop down form
# call on current User.kids>


<h2>New Behavior Log:</h2>

<form action='/behavior_logs/new' method='POST'>
    
    <label for="date">Enter behavior occurance date:</label>
    <br/>
    <input type="datetime" name="date" placeholder="date">
    <br/>
    <br/>
    <label for="time">What time did the behavior occured?</label>
    <br/>
    <input type="timestamps" name="time" placeholder="time">
    <br/>
    <br/>
    <label for="behavior">Describe child's behavior:</label>
    <br/>
    <textarea id="behavior" name="behavior"
          rows="5" cols="33">
    </textarea>
    <br/>
    <br/>
    <label for="incident_before_behavior">Describe what happened right before the behavior exhibit:</label> 
    <br/>
    <textarea id="incident_before_behavior" name="incident_before_behavior"
          rows="5" cols="33">
    </textarea>
    <br/>
    <br/>
    <input type="submit" value="submit">
</form>

