<!#this is where I can select which kids to enter the form with a drop down form
# call on current User.kids>


<h2>New Behavior Log:</h2>

<form action='/behavior_logs/new' method='POST'>
    
    <input type="datetime" name="date" placeholder="Enter behavior occurance date">
    <input type="timestamps" name="time" placeholder="Enter behavior occurance time">
    <input type="text" name="behavior" placehold="Describe child's behavior">
    <input type="text" name="incident_before_behavior" placeholder="Enter incident before behavior">
    <input type="submit" value="submit">
</form>

