<h2>Welcome, please sign upp below:</h2>

<% if @error %>
    <p class="error"><%= @error %></p>
<% end %>

<form action='/signup' method='post'>
    <input type="text" name="name" placeholder="Enter name">
    <input type="email" name="email" placeholder="Enter email">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Sign Up">
</form>





