"Welcome, <%=@user.name%> !"

<a href="/sessions/login">Log Out</a>

<h3>Please register your child(ren) to start filling out their behavior logs</h3>
    <br/>
      <a href="/kids/register_kids">Register a New Child</a>