<h3>Welcome, <%=current_user.name%> !</h3>

  <br/>
  <a href="/kids/register_kids">Add a New Child</a>
  <br/>
  <a href="/behavior_logs/index">Behavior Log</a>
  <br/>
  <a href="/logout">Log Out</a>
