<h2>Register Your Child Below:</h2>
<form action='/kids/register_kids' method='POST'>
    <input type="text" name="name" placeholder="Enter child's first and last name">
    <input type="text" name="age" placeholder="Enter child's date of birth">
    <input type="submit" value="Register">
</form>
