<h2>Please fill out your child's behavior below:</h2>
<form action='/behaviors/log' method='POST'>
    <input type="text" name="name" placeholder="Enter name">
    <input type="email" name="email" placeholder="Enter email">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Sign Up">
</form>